<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TECHMANIATeam.icons" 
    xmlns:tools="http://schemas.android.com/tools">
    <application android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"
                android:theme="@style/AppTheme"
                tools:replace="android:icon"
    >
    </application>
</manifest>