:root {
    --surface-color: rgb(18, 18, 18);
    --primary-color: rgb(165, 214, 167);
    --primary-color-4-percent: rgba(165, 214, 167, 0.04);
    --primary-color-12-percent: rgba(165, 214, 167, 0.12);
    --primary-color-38-percent: rgba(165, 214, 167, 0.38);
    --primary-color-variant: rgb(56, 142, 60);
    --high-emphasis-text-color: rgba(255, 255, 255, 0.87);
    --medium-emphasis-text-color: rgba(255, 255, 255, 0.6);
    --disabled-text-color: rgba(255, 255, 255, 0.38);
}
