.surface {
    background-color: rgb(18, 18, 18);
}

.body-text {
    -unity-font-definition: url('project://database/Assets/Fonts/Open%20Sans/OpenSans-Regular%20SDF%20non-TMP.asset?fileID=11400000&guid=a3e17acdfc9389c45996e1d42a2a5f2f&type=2#OpenSans-Regular SDF non-TMP');
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    white-space: normal;
}
