#container {
    height: 25px;
    justify-content: center;
}

#track {
    height: 4px;
    background-color: var(--primary-color-38-percent);
}

#filled-portion {
    position: absolute;
    left: 0;
    top: 0;
    right: 30%;
    bottom: 0;
    background-color: var(--primary-color);
}
